body {
    background-color: #121214;
}

main {
    text-align: center;
    justify-content: center;
}

h1 {
    color: red;
    font-size: 32px;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: red;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

strong {
    color: red;
}

em {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);

}

a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

ul {
    list-style: none;
    margin-top: 32px;  
    position: absolute;
    align-content: center;
    background-color: white;  
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 11%;

}

ul li {
    margin: 32px;
    
    
}

ul li img {
    border-radius: 8px;
    margin-left: 32px;
}

.production-list {
    margin-top: 16px;
}

.characters-list {
    border-radius: 8px;

}

section div {
    transition: transform .5s;
}

section div img:hover {
    transform: scale(1.1);
}

/*Animation*/

main section {
    animation: fromTop .4s backwards;
}

main section:nth-child(1) {
    animation-delay: .8s;
}

main section:nth-child(2) {
    animation-delay: .12s;

}

main section:nth-child(3) {
    animation-delay: .16s;
}

main section:nth-child(4) {
    animation-delay: .20s;
}

main section:nth-child(5) {
    animation-delay: .24s;
}

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}